@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Center the text in the middle of the page */
    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<div class="centered-text">
    <h1 class="display-4">Welcome to BeautyShop</h1>
</div>
